.btn {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 1.39;
    padding: 10px 28px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 18px;
    line-height: 25px;
    padding: 14px 32px;
  }

  svg {
    vertical-align: middle;
  }

  &.btn-sm {
    font-family: 'FT System Mono';
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    padding: 3px 12px;
    border-radius: 100px;
  }

  &.btn-link {
    padding: 0;
    text-decoration: underline;
    opacity: 0.5;

    &:hover {
      text-decoration: none;
      color: inherit;
      background: transparent;
      border-color: transparent;
    }
  }

  &.btn-outline-primary {
    border: 1px solid $black;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 16px;
      line-height: 28px;
      padding: 12px 19px;
    }
  }
}

.btn-secondary {
  background-color: $warm-light;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.btn-info {
  background-color: $bright-red;
  color: $white;

  &:hover {
    background-color: $dark-gray;
    color: $white;
  }
}

[data-bs-theme="green"] {

  .btn-secondary {
    background: $white;

    &:hover {
      background-color: $black;
    }
  }
}
