{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_photo-and-caption-carousel' } %}
  {% block content %}
    <div class="container">
      {% if fields.headline %}
        <h2 class="d-block block-title">{{fields.headline}}</h2>
      {% endif %}

      <div class="swiper caption-carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for row in fields.carousel %}
            <div class="swiper-slide">
              <h5 class="title">{{row['title']}}</h5>

              <p>{{row['content']}}</p>

              {% include '@partial/media-item.twig' with { image: row['image'] } only %}
            </div>
          {% endfor %}
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev caption-carousel-button-prev">
          <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.2721 11.8677L26.2721 14.0585L4.78145 14.0585L14.64 23.9171L13.0752 25.4819L0.556345 12.9631L13.0752 0.444268L14.64 2.00912L4.78145 11.8677L26.2721 11.8677Z" fill="black"/>
          </svg>
        </div>
        <div class="swiper-button-next caption-carousel-button-next">
          <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.651743 14.0561L0.651742 11.8653L22.1424 11.8653L12.2838 2.00678L13.8487 0.441925L26.3675 12.9607L13.8487 25.4796L12.2838 23.9147L22.1424 14.0561L0.651743 14.0561Z" fill="black"/>
          </svg>
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
