.block_photo-and-caption-carousel {
  // Add your custom styles here
  padding: 40px 0 56px;
  overflow: hidden;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 90px 0 112px;
  }

  .block-title {
    font-weight: 400;
    margin-bottom: 37px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 77px;
    }
  }
}

.caption-carousel.swiper {
  font-family: 'FT System Mono';
  font-size: 12px;
  line-height: 18px;
  overflow: visible;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 20px;
  }

  &:has(.media-item_caption) {
    padding-bottom: 70px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-bottom: 60px;
    }
  }

  .swiper-slide {
    width: 298px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 27px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-right: 35px;
      width: 515px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(var(--bs-primary-rgb), 0.5);
      backdrop-filter: blur(0px);
      z-index: 1;
    }

    &.swiper-slide-active {
      &:after {
        display: none;
      }
    }

    &.swiper-slide-next {
      &:after {
        @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
          display: none;
        }
      }
    }
  }

  p {
    margin-bottom: 28px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 26px;
    }
  }

  .title {
    font-family: 'FT System Grotesk';
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
    font-weight: 700;
  }

  figure {
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
  }

  .media-item_caption {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
  }

  .media-item_holder {
    position: relative;
    padding-bottom: 78.5%;

    .media-item {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: -80px;
    transform: none;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      top: 48%;
      transform: translateY(-50%);
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 43px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      left: 12px;
      right: auto
    }
  }

  .swiper-button-next {
    left: auto;
    right: 6px;
     @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      right: 12px;
    }
  }
}
