.block_two-up-cta {
  // Add your custom styles here
  overflow: hidden;
}

.cta-item {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    z-index: 1;
    transform: translateX(-50%);
    background: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      width: 50vw;
      left: 0;
      transform: none;
    }
  }

  &:nth-child(odd) {
    .img-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        left: auto;
        right: 0;
      }

      &:only-child {

        figure {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            left: auto;
            right: 0;
          }
        }
      }
    }

    &:before {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        left: auto;
        right: 0;
      }
    }
  }

  &:nth-child(even) {
    .wrap {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-left: 25px;
      }

      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        padding-left: 53px;
        padding-right: 52px;
      }
    }
  }

  a {
    text-decoration: none;
  }

  figure {
    margin: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .img-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    z-index: 1;
    transform: translateX(-50%);

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      left: 0;
      width: 50vw;
      transform: none;
    }

    &:only-child {
      position: relative;
      padding-bottom: 100%;
      display: block;

      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        position: static;
        padding-bottom: 0;
        min-height: 660px;
        width: 100%;
      }

      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        min-height: 788px;
      }

      figure {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100vw;
        z-index: 2;
        transform: translateX(-50%);

        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          left: 0;
          width: 50vw;
          transform: none;
        }
      }
    }
  }

  .wrap {
    padding: 34px 0 20px;
    position: relative;
    z-index: 2;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 62px 0 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 660px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      min-height: 788px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      padding-right: 60px;
    }
  }

  .btn {
    margin-bottom: 16px;
    margin-right: 16px;
  }

  .text-holder {

    &:only-child {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin: auto 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 57px;
      }

      h5 {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 32px;
        }
      }

      h6 {
        padding-top: 20px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-top: 50px;
        }
      }
    }
  }

  h6 {
    font-family: 'FT System Grotesk';
    margin-bottom: 1px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  .name {
    font-family: 'Season';
    font-weight: 470;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }

  a[href*="mailto:"] {
    font-family: 'FT System Grotesk';
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: underline;
    display: inline-block;
    vertical-align: top;

    &:hover {
      text-decoration: none;
    }
  }
}
