.block_full-bleed-cta {
  // Add your custom styles here
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 1;
    padding-top: 35px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 56px;
      padding-bottom: 20px;
      min-height: 594px;
    }

    &.full-bleed-cta-large {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-bottom: 11px;
      }
    }
  }

  .full-bleed-cta-large {

    h5 {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 22px;
      font-weight: 350;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 40px;
        line-height: 48px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        font-size: 75px;
        line-height: 81px;
        margin-bottom: 44px;
        max-width: 80%;
      }
    }

    .btn-primary {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        min-width: 211px;
      }
    }
  }

  figure {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    border: 7px solid $white;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
      transform: none;
    }

    & ~ .container {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        min-height: 897px;
      }

      h5 {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          color: $white;
        }
      }

      .btn-primary {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          background-color: rgba($white,0.3) !important;
          color: $white !important;
        }

        &:hover {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            background-color: $bright-red !important;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 148px;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(360deg,rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        background: linear-gradient(360deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

    img {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  h5 {
    font-family: 'FT System Grotesk';
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 29px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-weight: 300;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 27px;
      letter-spacing: 0;
    }
  }

  .buttons-list {
    display: flex;
    flex-wrap: wrap;

    li {
      margin-bottom: 10px;
      margin-right: 10px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-right: 9px;
      }
    }
  }

  .btn-primary {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 17px 18px;
      line-height: 19px;
      font-size: 18px;
      min-width: 168px;
      text-align: center;
    }

    svg {
      width: 9px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        width: 15px;
        margin-left: 2px;
      }
    }
  }

  &[data-bs-theme="warm-dark"] {

    .btn-primary {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        background: rgba($white,0.3) !important;
        color: $black !important;
      }

      &:hover {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          background: $white !important;
        }
      }
    }
  }

  &[data-bs-theme="stanford-red"] {

    .full-bleed-cta {
      @media screen and (min-width: map-get($grid-breakpoints, 'md'))  {
        min-height: 594px;
      }
    }

    .btn-primary {
      @media screen and (min-width: map-get($grid-breakpoints, 'md'))  {
        min-width: 180px;
        background: rgba($white,0.2) !important;
        color: $white !important;
      }

      &:hover {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          background: $black !important;
        }
      }
    }
  }
}

.home {

  .block_full-bleed-cta {

    h5 {
      @media screen and (max-width: map-get($grid-breakpoints, 'lg')) {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 22px;
        font-weight: 350;
      }
    }
  }
}

.block_two-up-media-item {

  & + .block_full-bleed-cta {

    .full-bleed-cta {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        min-height: 460px;
        padding-bottom: 20px;
      }
    }
  }
}
