.block_research-area-entry-points {
  // Add your custom styles here
  padding: 27px 0;

  &:has(.variation-carousel) {
    .block-title {
      border: 0;
    }
  }

  &[data-bs-theme="stanford-red"],
  &[data-bs-theme="bright-red"] {
    .research-area-wrapper--carousel {
      .swiper-stop-play,
      .swiper-button-next,
      .swiper-button-prev {
        background-color: rgba($white,0.3);
        color: $white;

        &:hover {
          background-color: $black;
        }

        svg {
          opacity: 1;
        }
      }

      .swiper-titles-pagination {
        .pagination-item {
          opacity: 0.8;

          &::before {
            border-top-color: $white;
            opacity: 0.4;
          }

          &:after {
            border-top-color: $white;
          }

          &:hover {
            color: $white;
            opacity: 1;

            &:before {
              opacity: 1;
            }
          }

           &.is-active {
            opacity: 1;
            color: $white;
          }
        }
      }
    }
  }

  &[data-bs-theme="bright-red"] {
    .research-area-wrapper--carousel {
      .image-holder {

        svg {
          path[fill="#E54A2B"] {
            fill: $stanford-red;
          }
          rect[fill="#E54A2B"] {
            fill: $stanford-red;
          }
          path[fill="#7F1414"] {
            fill: $dark-red;
          }
          rect[fill="#7F1414"] {
            fill: $dark-red;
          }
        }
      }
    }
  }

  &[data-bs-theme="white"] {
    .research-area-wrapper--carousel {
      .swiper-stop-play,
      .swiper-button-next,
      .swiper-button-prev {
        color: $white;
        background-color: $black;

        &:hover {
          background-color: $bright-red;
        }

        svg {
          opacity: 1;
        }
      }
    }
  }

  &[data-bs-theme="black"],
  &[data-bs-theme="dark-red"],
  &[data-bs-theme="dark-color"],
  &[data-bs-theme="violet"] {
    .research-area-wrapper--carousel {
      .swiper-stop-play,
      .swiper-button-next,
      .swiper-button-prev {

        &:hover {
          background-color: $bright-red;
        }
      }

      .swiper-titles-pagination {
        .pagination-item {
          opacity: 0.8;

          &::before {
            border-top-color: $white;
            opacity: 0.4;
          }

          &:after {
            border-top-color: $white;
          }

          &:hover {
            color: $white;
            opacity: 1;

            &:before {
              opacity: 1;
            }
          }

           &.is-active {
            opacity: 1;
            color: $bright-red;
          }
        }
      }
    }
  }
}

.research-area-wrapper {
  &--cards {
    padding: 0 25px;
    margin: 0 auto;
    @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
      max-width: 540px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 10px;
      max-width: 1440px;
    }

    .tease {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        height: auto;
        width: calc(50% - 4px);
        padding: 25px 20px 18px;
        transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        padding: 35px 40px 18px;
      }

      &:hover {
        color: $white;
        background-color: $stanford-red !important;
        border-radius: 0;

        .h5 {
          text-decoration: underline;
        }

        svg {

          path[fill="#7F1414"] {
            fill: $dark-red;
          }

          rect[fill="#7F1414"] {
            fill: $dark-red;
          }
        }
      }
    }

    .h5 {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 33px;
      }

      a {
        color: inherit;
      }
    }

    .text-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        max-width: 78%;
        margin-bottom: 67px;
      }
    }

    .image-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-top: auto;
      }

      figure {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-right: -5px;
        }
      }
    }

    .wrap {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  &--carousel {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 10px;
      padding-bottom: 44px;
    }

    .swiper-titles-pagination {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 75px;

      .pagination-item {
        padding-top: 20px;
        width: 23%;
        color: var(--bs-body-color);
        opacity: 0.5;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          opacity: 1;
          color: $stanford-red;

          &:before {
            opacity: 1;
            border-color: $stanford-red;
          }
        }

        &:before {
          content: '';
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          border-top: 1px solid;
          opacity: 0.2;
        }

        &:after {
          content: '';
          height: 1px;
          position: absolute;
          top: 0;
          left: 0;
          right: 100%;
          border-top: 1px solid $stanford-red;
        }

        &.is-active {
          opacity: 1;
          color: $black;

          &:after {
            right: 0;
            transition: all 5s ease;
          }
        }
      }
    }

    .tease-research-area {
      padding: 9px 0;
    }

    .wrap {
      @extend .container;
      box-sizing: border-box;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        display: flex;
      }
    }

    .h5 {
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 26px;
      }
    }

    .text-holder {
      margin-bottom: 42px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        width: 45%;
        padding-right: 40px;
        margin-right: auto;
        margin-bottom: 0;
      }
    }

    .image-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        width: 48.5%;
      }

      figure {
        max-width: 100%;
        margin-right: 0;
      }

      img {
        width: 100%;
      }
    }

    .swiper-pagination {
      visibility: hidden;
      position: absolute;
      left: -9999px;
    }

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-stop-play {
      top: 31px;
      transform: none;
      margin-top: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        position: static;
        margin-right: 15px;
      }

      &.swiper-button-disabled {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          background: $white;
          color: $black;
          opacity: 1;
        }

        svg {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            opacity: 0.2;
          }
        }
      }

      svg {
        opacity: 0.2;
        height: auto;
        max-width: 16px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          max-width: 25px;
          opacity: 1;
        }
      }
    }

    .swiper-button-prev {
      left: auto;
      right: 62px;
    }

    .swiper-button-next {
      left: auto;
      right: 25px;
    }

    .swiper-stop-play {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        background-color: $white;
        color: $black;
      }

      svg {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          opacity: 0.2;
        }
      }

      &:hover, &.is-paused {
        background: $bright-red;
        color: $white;

        svg {
          opacity: 1;
        }
      }
    }

    .swiper-buttons-holder {
      display: flex;
      cursor: pointer;
      margin-top: -82px;
    }
  }
}

.research-swiper {
  overflow: hidden;
}
