<div class="form-heading-wrap block_page-header">
  <div class="container form-heading">
    <div class="row align-items-center align-items-md-end">
      <div class="col-12 col-lg-7">
        {% if fields.back_to_link %}
          <div class="back-link">
            <a href="{{ fields.back_to_link.url }}">
              <?xml version="1.0" encoding="utf-8"?>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 5.302 15.224 5.148" width="15.224px" height="5.148px"><path d="M 2.904 10.45 C 2.449 9.907 1.98 9.438 1.496 9.042 C 1.012 8.646 0.513 8.323 0 8.074 L 0 7.678 C 1.012 7.165 1.98 6.373 2.904 5.302 L 3.674 5.302 C 3.439 5.801 3.205 6.241 2.97 6.622 C 2.735 6.989 2.508 7.297 2.288 7.546 L 2.288 8.206 C 2.508 8.441 2.735 8.749 2.97 9.13 C 3.205 9.497 3.439 9.937 3.674 10.45 L 2.904 10.45 Z M 2.178 8.338 L 2.178 7.414 L 15.224 7.414 L 15.224 8.338 L 2.178 8.338 Z" fill="currentColor" id="object-0" transform="matrix(0.9999999999999999, 0, 0, 0.9999999999999999, -7.105427357601002e-15, 0)"/></svg>
              {{ fields.back_to_link.title ?: 'Back' }}
            </a>
          </div>
        {% endif %}

        {% include '@partial/page-header-title.twig' with { fields: fields } %}
      </div>

      <div class="col-12 col-lg-5 form-holder">
        <input
          name="search"
          type="text"
          placeholder="{{ fields.search_placeholder ?: 'Search...' }}"
          value="{{ request.get.search }}"
        >
        <button type="submit">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.76953 1C8.40342 1.00008 10.539 3.13538 10.5391 5.76953C10.5391 8.40376 8.40347 10.539 5.76953 10.5391C3.13552 10.5391 1 8.40381 1 5.76953C1.00009 3.13533 3.13558 1 5.76953 1Z" stroke="currentColor" stroke-width="2"/>
            <line y1="-1" x2="8.2422" y2="-1" transform="matrix(0.707088 0.707126 -0.707088 0.707126 8.24219 9.88965)" stroke="currentColor" stroke-width="2"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
