{% set repeater_rows = posts %}

{% extends '@partial/repeater.twig'%}

{% block row_container %}
  {{ parent() }}
{% endblock %}
{% block row %}
  {% set inner %}
    {% include '@partial/tease_switcher.twig' with { post: get_post(row_data), tease_options: tease_options|default({})|merge({ variant: variant|default('') }), theme_attr: theme_attr } only %}
  {% endset %}

  {% if wrap_in_slide %}
    <div class="swiper-slide">{{ inner|raw }}</div>
  {% else %}
    {{ inner|raw }}
  {% endif %}
{% endblock %}
