{% set researchers = post.meta('researchers') %}
{% set authors = post.meta('authors') %}
{% set related_people = post.meta('related_people') %}

{% set people = researchers|length ? researchers : (related_people|length ? related_people : (authors|length ? authors : [])) %}

{% if researchers|length or related_people|length %}
  {% set label_single = 'Researcher' %}
  {% set label_plural  = 'Researchers' %}
{% elseif authors|length %}
  {% set label_single = 'Author' %}
  {% set label_plural  = 'Authors' %}
{% endif %}

{% set links = [] %}
{% for person in people %}
  {% set person_post = get_post(person) %}
  {% set link_html = '<a href=\"' ~ person_post.link ~ '\">' ~ person_post.post_title ~ '</a>' %}
  {% set links = links|merge([link_html]) %}
{% endfor %}

{% if links|length %}
  <div class="researchers">
    <span class="title">{{ links|length == 1 ? label_single : label_plural }}:</span>
    {{ links|join(', ')|raw }}
  </div>
{% endif %}
