{% set researchers = post.meta('researchers') %}
{% set authors = post.meta('authors') %}
{% set people = researchers|length ? researchers : (authors|length ? authors : []) %}
{% set label = researchers|length ? 'Researchers' : (authors|length ? 'Authors' : '') %}

{% if people|length %}
  <div class="researchers">
    <span class="title">{{ label|lower }}:</span>
    {% for person in people %}
      {% set person_post = get_post(person) %}
      <a href="{{ person_post.link }}">
        {{ person_post.post_title }}
      </a>
    {% endfor %}
  </div>
{% endif %}
