.block_year-carousel {
  // Add your custom styles here
  padding: 30px 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 60px 0;
  }

  .heading-holder {
    border-bottom: 1px solid;
    padding-bottom: 12px;
    margin-bottom: 30px;
  }

  .block-title {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .swiper-button {
    background: $bright-red;
    color: $white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 10px;
    justify-content: center;
    transform: none;
    transition: color 0.3s ease-in-out,
                background-color 0.3s ease-in-out;

    &:hover {
      background: $black;
    }

    &.swiper-button-disabled {
      background: $light;
      color: rgba($black,0.2);
      opacity: 1;
    }

    &:after {
      display: none;
    }

    svg {
      height: auto;
      max-width: 10px;
    }
  }
}

.year-carousel {

  .container {
    box-sizing: border-box;
  }

  .title {
    font: inherit;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      line-height: 28px;
    }
  }

  .year-swiper-pagination {
    position: relative;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    transform: none;
  }
}
