<div class="filters-wrap main-filters-wrap">

  <div class="row flex-md-row-reverse align-items-center">
    <div class="col-12 col-md-5 col-xl-3 text-md-end">
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
        <span class="open-text">
          Sort and filter
          <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.6665 6.10352e-05V9.66673" stroke="currentColor"/>
            <circle cx="1.66667" cy="7.00007" r="1.66667" fill="currentColor"/>
            <path d="M6.3335 9.66666L6.3335 -8.73208e-06" stroke="currentColor"/>
            <circle cx="6.33333" cy="2.66665" r="1.66667" transform="rotate(-180 6.33333 2.66665)" fill="currentColor"/>
          </svg>
        </span>
        <span class="close-text">
          Close
          <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.530273 7.36569L7.36564 0.530328" stroke="currentColor" stroke-width="1.5"/>
            <path d="M7.36572 7.36581L0.530358 0.53045" stroke="currentColor" stroke-width="1.5"/>
          </svg>
        </span>
      </button>
    </div>
    <div class="col-12 col-md-7 col-xl-9">
      <div class="selected-filters-wrap d-flex flex-wrap align-items-center">
        <div class="selected-fitlers d-flex flex-wrap align-items-start selected-filters-js"></div>
        <button type="button" class="btn btn-secondary btn-sm clear-all reset-js" disabled>Clear All</button>
      </div>
    </div>
  </div>

  <div class="collapse collapse-holder" id="filtersCollapse">
    <div class="filters-blocks">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            {# Filter by Post Type #}
            {% embed '@partial/filter-radio-checkbox.twig' with {
              title: 'Filter by type',
              name: 'type',
              type: 'checkbox',
              options: type_options,
              selected: request.get.type|default([]),
              add_all: true,
              create_labels: true
            } %}
            {% endembed %}
          </div>
          <div class="col-12 col-md-5">
            {# Filter by Research Area #}
            {% embed '@partial/filter-radio-checkbox.twig' with {
              title: 'Filter by research area',
              name: 'research_area',
              type: 'checkbox',
              options: research_terms,
              selected: request.get.research_area|default([]),
              add_all: true,
              create_labels: true
            } %}
            {% endembed %}
          </div>
          <div class="col-12 col-md-4">
            {# Sort Options #}
            {% embed '@partial/filter-radio-checkbox.twig' with {
              title: 'Sort',
              name: 'sort',
              type: 'radio',
              options: sort_options,
              selected: request.get.sort|default(['newest']),
              default_option: 'newest',
              create_labels: true
            } %}
            {% endembed %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
