{% set display_featured = posts.pagination.current == 1 and not hide_featured %}

{% if fields.featured_work is not empty and display_featured %}
  <div class="featured-post-wrap">
    {% if fields.featured_label %}
      <h5 class="block-title">{{ fields.featured_label }}</h5>
    {% endif %}
    {% include '@partial/tease_switcher.twig' with {
      post: get_post(fields.featured_work),
      tease_options: { variant: 'featured' }
    } only %}
  </div>
{% endif %}

<div class="all-posts-wrap post-card-list">
  {% if fields.archive_label %}
    <h5 class="block-title">{{ fields.archive_label }}</h5>
  {% endif %}
  <div class="all-posts-grid">
    {% if posts|length %}
      {% include '@partial/post-repeater.twig' with { posts: posts, variant: 'archive' } only %}
    {% else %}
      <div class="no-results">No works found matching your criteria.</div>
    {% endif %}
  </div>

  {% if posts|length %}
    {% include '@partial/pagination-alt.twig' with { posts: posts } only %}
  {% endif %}
</div>

{% include '@partial/loader.twig' %}
