.block_work-archive {
  overflow: hidden;

  .works-wrap {
    padding-bottom: 27px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md'))  {
      padding-bottom: 91px;
    }
  }

  .btn.view-results {
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      background: $black;
      color: $white;
    }
  }

  .btn.reset {
    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      border-color: $black;
      color: $black;
      background-color: $white;
    }
  }

  [data-bs-theme="green"] {
    &>.block_page-header {
      .form-holder {
        input[type=text] {
          border-bottom-color: $green-dark;

          &:focus {
            border-bottom-color: $black;
          }
        }
      }
    }
  }
}

.researchers {
  font-family: 'FT System Grotesk';
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 27px;
  }

  .title {
    text-transform: capitalize;
  }
}

.post-card-list {

  .tease-archive-holder {
    background-color: $warm-light;
    padding: 20px 18px 5px;
    display: flex;
    flex-direction: column;
    min-height: 440px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 27px 20px 5px;
      min-height: 560px;
      height: 100%;
    }

    &:has(figure) {

      .category-list {
        margin-bottom: 23px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-top: 0;
        }

        li {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            margin-top: 0;
            margin-bottom: 10px;
          }
        }
      }
    }

    .h5 {
      font-family: 'Season';
      font-weight: 470;
      margin-bottom: 13px;
      font-size: 24px;
      line-height: 28px;
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 32px;
      }
    }

    .category-list {
      margin-top: auto;

      li {
        margin-top: 10px;
      }

      .btn-secondary {
        background-color: $white;

        &:hover {
          background-color: $black;
        }
      }
    }

    .text-holder {
      min-height: 223px;

      &:only-child {
        min-height: 440px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md'))  {
          min-height: 524px;
          height: 100%;
        }
      }
    }

    .img-holder {
      margin: auto -18px -5px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin: auto -20px -5px;
      }

      figure {
        margin: 0;
      }
    }
  }

  .all-posts-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin: 0 -17px;
      width: calc(100% + 34px);
    }

    .tease-archive {
      width: 100%;
      margin-bottom: 28px;
      border: 0;
      padding: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        width: 50%;
        padding: 0 17px;
        margin-bottom: 18px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        width: 33.33%;
      }

      &:hover {
        background: transparent;
      }
    }
  }
}

.featured-post-wrap {
  padding-bottom: 25px;
  border-bottom: 1px solid;
  margin-bottom: 26px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    margin-bottom: 30px;
    padding-bottom: 29px;
  }

  .block-title {
    padding-bottom: 11px;
    margin-bottom: 26px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-bottom: 9px;
      margin-bottom: 34px;
    }
  }

  .tease-featured {
    background-color: $warm-light;
    padding: 17px 19px 0;
    margin-bottom: 0;
    border: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      background-color: transparent;
      padding: 0;
    }

    &:hover {
      background-color: $warm-light;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        background: transparent;
      }
    }

    .row {
      flex-direction: column-reverse;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        flex-direction: row;
      }
    }

    .img-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        width: 53.5%;
      }

      figure {
        margin: 0 -19px 0;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin: 0 -19px 0 0;
        }
      }

      .media-item_holder {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-bottom: 103.8%;
        }
      }
    }

    .text-holder {
      min-height: 223px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-top: 20px;
        padding-right: 40px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        width: 46.5%;
        padding-left: 38px;
        padding-top: 46px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        padding-right: 60px;
      }
    }

    .h5 {
      font-family: 'Season';
      margin-bottom: 13px;
      font-weight: 470;
      font-size: 24px;
      line-height: 28px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 27px;
        font-size: 34px;
        line-height: 40px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        font-size: 44px;
        line-height: 50px;
      }
    }

    .excerpt {
      margin-bottom: 13px;
      font-size: 16px;
      line-height: 22px;
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        margin-bottom: 23px;
        font-size: 22px;
        line-height: 30px;
      }
    }

    .researchers {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .category-list {
      margin-bottom: 22px;
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        margin-bottom: 29px;
      }

      .btn {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          background-color: $warm-light;
        }

        &:hover {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            background-color: $black;
          }
        }
      }
    }
  }
}

[data-bs-theme="green"] {
  .featured-post-wrap {

    .tease-featured {
      background-color: $white;

      .category-list {

        .btn-secondary {
          background-color: $warm-light;

          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }

  .post-card-list {

    .tease-archive-holder {
      background-color: $white;

      .category-list {

        .btn-secondary {
          background-color: $warm-light;

          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }
}

.clear-all {

  &[disabled] {
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
}

.selected-filters-wrap {

  &:has(.btn-primary) {
    padding-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 17px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      border: 0;
      padding-bottom: 0;
    }

    .btn-primary {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        border: 1px solid #BCAC9B;
      }
    }
  }

  .btn-sm {
    display: flex;
    align-items: center;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 2px 10px;
    }

    &.btn-secondary {
      margin-bottom: 10px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 1px 10px;
      }
    }

    svg {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-left: 13px;
      }
    }
  }

  .selected-filter {
    margin-right: 12px;
    margin-bottom: 10px;
  }

  .btn-secondary.clear-all {
    background-color: $light-text;
    border-color: $warm-dark;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.filters-wrap {

  &:before {
    background: $white;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 4;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      content: '';
    }
  }

  &:after {
    box-shadow: 0 4px 25px 3px rgba($black, 0.1);
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      content: '';
    }
  }

  &>.row {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      position: relative;
      z-index: 5;
    }
  }

  .btn[data-bs-toggle="collapse"] {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-left: auto;
    }

    .open-text {
      display: flex;
      align-items: center;
    }

    .close-text {
      display: none;
      margin: 0 7px;
    }

    &[aria-expanded="true"]:not(.view-results) {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 18px !important;
        line-height: 26px !important;
        background: $black;
        color: $white;
        padding: 12px 13px !important;
      }

      .close-text {
        display: flex;
        align-items: center;
      }

      .open-text {
        display: none;
      }
    }

    svg {
      margin-left: 10px;
    }
  }

  .collapse-holder {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      position: absolute;
      top: 100%;
      left: 50%;
      right: auto;
      width: 100vw;
      transform: translateX(-50%);
      z-index: 3;
      background-color: rgba($white,0.9);
      backdrop-filter: blur(60px);
      box-shadow: 0 4px 25px 3px rgba($black, 0.1);
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &.show {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        opacity: 1;
      }
    }

    .container {
      padding: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        position: relative;
        padding: 0 25px;
      }
    }
  }
}

.filter-block {

  .filter-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 21px;
    padding-bottom: 11px;
    border-bottom: 1px solid $warm-dark;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 23px;
      border: 0;
    }
  }
}
