.block_single-media-item {
  // Add your custom styles here
  overflow: hidden;

  .heading-holder {
    padding-top: 49px;
    padding-bottom: 49px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 67px;
      padding-bottom: 72px;
    }
  }

  .media-item_caption {
    margin-bottom: 1em;
  }

  &--full {

    figure {
      margin-bottom: 0;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
      }

      .media-item_caption {
        @extend .container;
      }

      .video-toggle {
        display: none;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          display: inline-block;
          vertical-align: top;
        }
      }
    }

    .video-toggle {
      order: -1;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 48px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        order: 0;
        max-width: 720px;
        padding: 0 25px 30px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        max-width: 960px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        max-width: 1140px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
        max-width: 1334px;
      }
    }

    &:has(video) {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-bottom: 92px;
      }

      figure {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          border: 7px solid var(--bs-body-bg);
        }

        .media-item_caption {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            padding-top: 23px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
          }
        }

        .media-item_holder {
          position: static;
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            position: relative;
          }
        }
      }

      .container {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
      }


      .heading-holder {
        padding-top: 15px;
        padding-bottom: 12px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          position: absolute;
          bottom: 178px;
          left: 0;
          right: 0;
          z-index: 2;
          padding: 0 25px;
        }
      }
    }
  }

  &--wide {

    figure {

      img {
        width: 100%;
      }

      .video-toggle {
        display: none;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          display: inline-block;
          vertical-align: top;
        }
      }
    }

    .media-item--video {
      width: 100%;
    }

    .video-toggle {
      order: -1;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 48px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        order: 0;
        padding: 0 25px 30px;
      }
    }

    &:has(video) {
      .container {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
      }

      .heading-holder {
        padding-top: 15px;
        padding-bottom: 12px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          position: absolute;
          bottom: 178px;
          left: 25px;
          right: 25px;
          z-index: 2;
          padding: 0 25px;
        }
      }

      figure {

        .media-item_holder {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            position: relative;
          }
        }
      }
    }
  }

  &--right {

    .media-item_holder {
      text-align: right;
    }

    .media-item--video {
      width: auto;
    }

    &:has(video) {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 72px 0;
      }

      figure {
        max-width: 845px;
        margin-left: auto;
      }

      .heading-holder {
        padding: 0 0 30px;

        .col-md-9 {
          width: 100%;
        }
      }

    }
  }

  &--center {

    .media-item_holder {
      text-align: center;
    }

    .media-item--video {
      width: auto;
    }

    &:has(video) {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 72px 0;
      }

      figure {
        max-width: 845px;
        margin: 0 auto;
      }

      .heading-holder {
        padding: 0 0 30px;

        .col-md-9 {
          width: 100%;
        }
      }

    }
  }

  &--left {
    .media-item--video {
      width: auto;
    }

    &:has(video) {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 72px 0;
      }

      figure {
        max-width: 845px;
      }

      .heading-holder {
        padding: 0 0 30px;

        .col-md-9 {
          width: 100%;
        }
      }
    }
  }
}

.fancybox__container {

  .fancybox__backdrop {
    background: rgba($black,0.9);
    filter: blur(4px);
  }

  .f-button.is-close-button {
    font-family: 'FT System Grotesk';
    font-weight: 300;
    line-height: 1;
    width: auto;
    height: auto;
    font-size: 22px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 32px;
    }

    &:before {
      content: 'Close';
    }

    &:after {
      content: '';
      background: url("../assets/images/close-icon.svg") no-repeat;
      background-position: center;
      background-size: 26px;
      display: inline-block;
      vertical-align: top;
      width: 26px;
      height: 26px;
      filter: brightness(0) invert(1);
      margin-left: 12px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        background-size: 35px;
        width: 34px;
        height: 34px;
      }
    }

    svg {
      display: none;
    }
  }

  video {
    height: auto;
    margin-top: 30px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-top: 60px;
    }
  }

  .f-caption {
    font-family: 'FT System Mono';
    max-width: 1285px;
    width: 100%;
    padding: 20px 0 0;
    font-size: 12px;
    line-height: 18px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 40px 0 0;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .has-html5video .f-html {
    max-width: 1285px;
    height: auto;
    max-height: none;
    background: transparent;
  }

  .fancybox__slide {
    padding: 0 25px;
  }
}
