.block_single-media-item {
  // Add your custom styles here
  overflow: hidden;

  .heading-holder {
    padding-top: 49px;
    padding-bottom: 49px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 67px;
      padding-bottom: 72px;
    }
  }

  .media-item_caption {
    margin-bottom: 1em;
  }

  .media-item--video {
    display: block;
  }

  &--full {

    figure {
      margin-bottom: 0;
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
      }

      .media-item_caption {
        @extend .container;
      }
    }

    &:has(video) {
      .container {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
      }

      .h5 {
        font-family: 'FT System Grotesk';
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 28px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 40px;
          font-size: 40px;
          line-height: 48px;
          color: $white;
        }
      }

      .heading-holder {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
      }
    }
  }

  &--wide {

    figure {
      img {
        width: 100%;
      }
    }
  }

  &--right {

    .media-item_holder {
      text-align: right;
    }
  }

  &--center {

    .media-item_holder {
      text-align: center;
    }
  }
}
