.block_homepage-header {
  // Add your custom styles here
  padding: 85px 0 40px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 150px 0 61px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
    padding-top: 250px;
  }

  h1 {
    margin: 0;
    font-size: 50px;
    line-height: 1;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 100px;
      letter-spacing: -1.5px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      font-size: 120px;
      letter-spacing: -2px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
      font-size: 146px;
      line-height: 142px;
      letter-spacing: -3px;
    }
  }

  .mark {
    color: $bright-red;
    padding: 0;
    background: transparent;
  }

  .animating-text-holder {
    overflow: hidden;
    width: 100%;
    transition: height .18s ease;
    top: 2px;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      top: 4px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
      top: 6px;
    }
    .swiper-slide {
      overflow: hidden;
    }

    .swiper-slide {
      transition: .6s;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
      opacity: 0;
    }
  }

  .animating-text {

    &>span {
      display: block;
      position: relative;
      top: -2px;

      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        top: -4px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
        top: -6px;
      }
    }
  }
}

body.apple-device {

  .block_homepage-header {

    .animating-text-holder {
      position: relative;
      top: 8px;

      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        top: 15px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        top: 17px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
        top: 21px;
      }
    }

    .animating-text {

      &>span {
        top: -8px;

        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          top: -15px;
        }
        @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
          top: -17px;
        }
        @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
          top: -21px;
        }
      }
    }
  }
}
