{% if is_preview or selections is not empty %}
  {% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_news-list block_post-list' } %}
    {% block content %}
      <div class="container">
        {% if fields.title %}
          <span class="d-block block-title mb-0">{{ fields.title }}</span>
        {% endif %}

        {% if selections is not empty %}
          <div class="posts-wrap posts-list">
            {% include '@partial/post-repeater.twig' with { posts: selections, variant: 'list' } only %}
          </div>
        {% elseif is_preview %}
          <p class="no-posts">No posts found.</p>
        {% endif %}
      </div>
    {% endblock %}
  {% endembed %}
{% endif %}
