.block_video-carousel {
  // Add your custom styles here
  padding: 30px 0;
  overflow: hidden;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 50px 0;
  }

  .block-title {
    padding-right: 100px;
    margin-bottom: 36px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-bottom: 10px;
      margin-bottom: 41px;
    }
  }
}

.video-carousel.swiper {
  overflow: visible;

  .swiper-slide {
    width: 300px;
    padding-right: 20px;
    @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
      width: 400px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      width: 625px;
      padding-right: 35px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: var(--bs-body-bg);
      backdrop-filter: blur(0px);
      opacity: 0.5;
      z-index: 1;
    }

    &.swiper-slide-active {
      &:after {
        display: none;
      }
    }

    &.swiper-slide-next {
      &:after {
        @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
          display: none;
        }
      }
    }
  }

  figure {
    margin-bottom: 0;
    margin-top: auto;
  }

  .media-item_holder {
    position: relative;
    padding-bottom: 56.3%;

    .media-item {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: $black;
    color: $white;
    border: 1px solid;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    top: -80px;
    z-index: 3;
    margin-top: 0;
    transition: color 0.3s ease-in-out,
                background-color 0.3s ease-in-out;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      width: 65px;
      height: 65px;
      top: 48%;
      transform: translateY(-50%);
    }

    &.swiper-button-disabled {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        opacity: 0;
      }
    }

    &:hover {
      background: $white;
      color: $black;
    }

    &:after {
      display: none;
    }

    svg {
      height: auto;
      max-width: 16px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        max-width: 25px;
      }
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 43px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      left: -8px;
      right: auto
    }
  }

  .swiper-button-next {
    left: auto;
    right: 6px;
     @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      right: -8px;
    }
  }
}
