<div class="search-form-fields">
  <div class="search-block">
    <label for="popup-search" class="popup-search-label">
      <span class="screen-reader-text invisible">Search</span>
      <svg width="21" height="20" viewbox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="8.5" cy="8.5" r="8" stroke="black"/>
        <line x1="14.4277" y1="13.7207" x2="20.3536" y2="19.6466" stroke="black"/>
      </svg>
    </label>
    <input
      class="autosearch-on-typing-js search-input-js"
      type="text"
      name="s"
      placeholder="Search..."
      value="{{ search_query }}"
    />
    <button
      class="clear-search-js"
      type="button"
      aria-label="Clear search"
      {% if search_query is empty %}disabled{% endif %}
    >
      Clear search
    </button>
    <button type="submit" aria-label="Submit search">Submit search</button>
  </div>
  <div class="filters-wrap">
    <div class="selected-filters-wrap">
      <div class="selected-fitlers selected-filters-js"></div>
      <button type="button" class="reset-js" disabled>Clear All</button>
    </div>
    <button type="button">Sort and filter</button>
    <button type="button" class="reset-js" disabled>Reset</button>
    <div class="filters-blocks">

      {# Filter by Post Type #}
      {% embed '@partial/filter-radio-checkbox.twig' with {
        title: 'Filter by type',
        name: 'type',
        type: 'checkbox',
        options: type_options,
        selected: request.get.type|default([]),
        add_all: true,
        create_labels: true
      } %}
      {% endembed %}

      {# Filter by Research Area #}
      {% embed '@partial/filter-radio-checkbox.twig' with {
        title: 'Filter by research area',
        name: 'research_area',
        type: 'checkbox',
        options: research_terms,
        selected: request.get.research_area|default([]),
        add_all: true,
        create_labels: true
      } %}
      {% endembed %}

      {# Sort Options #}
      {% embed '@partial/filter-radio-checkbox.twig' with {
        title: 'Sort',
        name: 'sort',
        type: 'radio',
        options: sort_options,
        selected: request.get.sort|default(['newest']),
        default_option: 'newest',
        create_labels: true
      } %}
      {% endembed %}

    </div>
  </div>
</div>
