<div class="search-menu">
  <button type="button" class="btn search-opener toggle-search-js" aria-label="Open search">
    <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="7" cy="7" r="6" stroke="currentColor" stroke-width="2"/>
      <line x1="10.7071" y1="11.2929" x2="17.7782" y2="18.364" stroke="currentColor" stroke-width="2"/>
    </svg>
  </button>
  <button type="button" class="header-search-close toggle-search-js btn btn-link" aria-label="Close search">
    Close
    <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="2.12117" y1="0.707078" x2="33.1212" y2="31.7071" stroke="currentColor" stroke-width="2"/>
      <line y1="-1" x2="43.8406" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 32.4141 1.41418)" stroke="currentColor" stroke-width="2"/>
    </svg>
  </button>
</div>
<div class="search-modal search-modal-js" data-state="empty">
  <div class="container">
    <form
      class="header-search-form header-search-form-js"
      action="{{ site.url }}"
      method="get"
    >
      <div class="search-row d-flex">
        <input
          class="header-search-input-js"
          type="text"
          name="s"
          placeholder="Search..."
          required
          value=""
        >
        <button
          class="btn bt-link clear-header-search-btn clear-header-search-js"
          type="button"
          aria-label="clear-search"
        >
          <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="2.12117" y1="0.7072" x2="33.1212" y2="31.7072" stroke="currentColor" stroke-width="2"/>
            <line y1="-1" x2="43.8406" y2="-1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 32.4141 1.41431)" stroke="currentColor" stroke-width="2"/>
          </svg>
        </button>
        <button type="button" class="search-btn btn bt-link to-search-page-js">
          Search
          <svg id="Group_836" data-name="Group 836" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <g id="Symbol_62_2" data-name="Symbol 62 – 2" transform="translate(0 0)">
              <rect id="Rectangle_176" data-name="Rectangle 176" width="20" height="20" transform="translate(0 0)" fill="none"/>
              <path id="Path_99" data-name="Path 99" d="M19.7,17.964,15.61,13.875a8.482,8.482,0,0,0,1.734-5.2A8.619,8.619,0,0,0,8.672,0,8.619,8.619,0,0,0,0,8.672a8.619,8.619,0,0,0,8.672,8.672,8.482,8.482,0,0,0,5.2-1.734L17.964,19.7ZM2.478,8.672A6.134,6.134,0,0,1,8.672,2.478a6.134,6.134,0,0,1,6.194,6.194,6.134,6.134,0,0,1-6.194,6.194A6.134,6.134,0,0,1,2.478,8.672Z" transform="translate(0.302 0.151)" fill="currentColor"/>
            </g>
          </svg>
        </button>
      </div>
    </form>
    <div class="search-info-wrap" data-simplebar data-simplebar-auto-hide="false">
      <div class="search-info">
        {% set featured_searches = options.site.general.featured_searches %}
        {% if featured_searches %}
          <div class="featured-searches">
            <div class="featured-searches-title">Featured searches</div>
            <ul class="featured-searches-list list-unstyled">
              {% for item in featured_searches %}
                {% if item.search_term %}
                  <li>
                    <a href="{{ site.url }}/?s={{ item.search_term|url_encode }}">{{ item.search_term }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="header-search-result-js"></div>
        {% include '@partial/loader.twig' %}
      </div>
    </div>
  </div>
</div>
