{% embed '@views/tease.twig' with {
  tease_options: {
    extra_classes: 'tease-search post-' ~ post.post_type,
  },
  post
} only %}
  {% block content %}
    {% set search_query = fn('get_search_query') %}
    <div class="row">
      <div class="col-12 col-md-9 text-holder">
        <span class="post-type">{{ post.post_type|replace({'_': ' '}) }}</span>

        {% set clean_title = post.post_title|striptags %}

        {# Highlight search words in title #}
        {% if search_query %}
          {% set words = search_query|split(' ') %}
          {% for word in words %}
            {% if word %}
              {% set clean_title = clean_title|replace({(word): '<b>' ~ word ~ '</b>'}) %}
              {% set clean_title = clean_title|replace({(word|lower): '<b>' ~ word|lower ~ '</b>'}) %}
              {% set clean_title = clean_title|replace({(word|capitalize): '<b>' ~ word|capitalize ~ '</b>'}) %}
            {% endif %}
          {% endfor %}
        {% endif %}

        <h2 class="h5 search-post-title"><a href="{{ post.link|e }}">{{ clean_title|raw }}</a></h2>

        {% if post.excerpt %}

          {% set clean_excerpt = post.excerpt|striptags %}

          {# Highlight search words in excerpt #}
          {% if search_query %}
            {% set words = search_query|split(' ') %}
            {% for word in words %}
              {% if word %}
                {% set clean_excerpt = clean_excerpt|replace({(word): '<b>' ~ word ~ '</b>'}) %}
                {% set clean_excerpt = clean_excerpt|replace({(word|lower): '<b>' ~ word|lower ~ '</b>'}) %}
                {% set clean_excerpt = clean_excerpt|replace({(word|capitalize): '<b>' ~ word|capitalize ~ '</b>'}) %}
              {% endif %}
            {% endfor %}
          {% endif %}

          <div class="excerpt">{{ clean_excerpt|raw }}</div>
        {% endif %}
      </div>
      {% if post.thumbnail %}
        <div class="col-12 col-md-3 img-holder">
          {% include "@partial/media-item.twig" with { image: post.thumbnail } only %}
        </div>
      {% endif %}
    </div>
  {% endblock %}
{% endembed %}
