// WP Overrides

.card {
  max-width: unset;
  min-width: unset;
}

:scope[class*="align"] {
  float: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}

a:hover, a:focus {
  color: unset;
}