{% extends "@views/base.twig" %}
{% block content %}
  <form
    class="search-form position-relative ajax-form-js"
    action="{{ ajax_url }}"
    method="get"
    role="search"
  >
    <div class="search-section content-wrapper">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="h2">
              <span class="results-total-js">{{ results_total }}</span>
              results for
            </div>
            {% include '@views/search/filters.twig' with { fields: fields } %}
            <div class="ajax-results-js" data-total={{ results_total }}>
              <div class="post-list">
                {% embed '@partial/repeater.twig' with { repeater_rows: posts } %}
                  {% block row %}
                    {% include '@views/search/result-row.twig' with {
                      post: get_post(row_data)
                    } only %}
                  {% endblock %}
                  {% block empty %}
                    <p class="h4">No results found.</p>
                    <p class="h5">Please try a different keyword</p>
                  {% endblock %}
                {% endembed %}
              </div>
              {% if posts|length %}
                {% include '@partial/pagination-alt.twig' with { posts: posts } only %}
              {% endif %}
              {% include '@partial/loader.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
