// 1. Configuration and helpers
@import 'abstracts/index';

@mixin body-selector() {
  :scope {
    @content;
  }
}

.editor-styles-wrapper .acf-block-body:not(.acf-block-preview) {
  @import 'editor/acf-fixes';
}


:root {
  @import 'editor/wp-root';
}

@scope (.editor-styles-wrapper .acf-block-preview) {
  @import 'editor/wp-reset';

  @import 'general-styles';

  // 6. block-specific overrides
  @import 'editor/block-fixes/index';

}

.acf-block-preview {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 22px;
    line-height: 30px;
  }

  .full-block-width {
    width: 100%;
  }
}

.acf-field-group-block-page-header-jump-links {
  display: none;

  .post-type-publication &,
  .post-type-event &,
  .post-type-project & {
    display: block;
  }
}