.block_two-column-text-block {
  // Add your custom styles here
  padding: 26px 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 57px 0;
  }

  .col-xxl-2 {
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
      width: 18%;
    }
  }

  .col-xxl-5 {
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
      width: 41%;
    }
  }

  .light-text {
    opacity: 0.5;
    color: inherit !important;
  }

  h5 {
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 44px;
      line-height: 50px;
    }
  }

  .block-title {
    padding-bottom: 13px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-bottom: 9px;
      margin-bottom: 52px;
    }
  }

  .two-column-sidebar {
    margin-bottom: 5px;
    word-wrap: break-word;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 20px;
      padding-top: 6px;
      padding-right: 0;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      padding-right: 20px;
    }

    .btn {
      font-family: 'FT System Mono';
      text-transform: uppercase;
      font-size: 12px;
      line-height: 20px;
      font-weight: 600;
      padding: 3px 12px;
      border-radius: 100px;

      svg {
        display: none;
      }
    }

    .sidebar-title {
      margin-bottom: 4px;
      margin-top: 1rem;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 5px;
      }

      & + .btn {
        margin-top: 2px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    ul {
      padding-top: 18px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-top: 20px;
      }

      li {
        margin-bottom: 3px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 9px;
        }
      }
    }
  }

  .btn {
    margin-top: 23px;
    margin-bottom: 14px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 17px;
    }
  }

  .text {
    color: rgba(0, 0, 0, 0.5);

    a:not(.btn) {
      color: rgba(0, 0, 0, 0.5);

      &:hover {
        color: #000;
      }
    }

    strong {
      font-weight: normal;
      color: #000;
    }
  }

  .soc-link {

    &:hover {
      text-decoration: none;
    }
  }
}
