.block_three-up-entry-points {
  // Add your custom styles here
  padding: 30px 0 1px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 84px 0 54px;
  }

  .row {
    margin: 0 -6px;

    .col-12 {
      padding: 0 6px;
    }
  }
}

.entry-point-card {
  display: block;
  border: 1px solid;
  text-decoration: none;
  --entry-point-card--padding--top: 30px;
  --entry-point-card--padding--bottom: 15px;
  --entry-point-card--padding--horizontal: 25px;

  padding: var(--entry-point-card--padding--top) var(--entry-point-card--padding--horizontal) var(--entry-point-card--padding--bottom);

  border-radius: 12px;
  margin-bottom: 30px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    height: calc(100% - 30px);
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
    --entry-point-card--padding--top: 45px;
    --entry-point-card--padding--bottom: 23px;
    --entry-point-card--padding--horizontal: 39px;
  }

  &--title {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 1.273;
    font-weight: 600;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &:hover &--title {
    text-decoration: underline;
  }

  figure {
    $top-margin: calc((var(--entry-point-card--padding--top) * -1) + 10px);
    $horizontal-margin: calc((var(--entry-point-card--padding--horizontal) * -1) + 10px);
    margin-top: $top-margin;
    margin-right: $horizontal-margin;
    margin-left: $horizontal-margin;
    margin-bottom: var(--entry-point-card--padding--bottom);
  }
}
