// Don't perform fade-in animation on editor preview.
.research-swiper,
.caption-carousel,
.video-carousel,
.block_year-carousel .year-swiper-pagination {
 .swiper-wrapper {
    display: flex;
    flex-direction: row;
  }
}