<section class="bg-primary hero hero--post" data-bs-theme="stanford-red">
  {% block content %}
    <div class="container">
      <h1>{{title|default(post.title)}}</h1>
      {% if post.meta('research_area_icon_svg') %}
        <div class="image-holder image-holder--{{ post.ID }}">
          {% include '@partial/raw-svg.twig' with { svg_file: post.meta('research_area_icon_svg') } only %}
        </div>
      {% endif %}
    </div>
  {% endblock %}
</section>

