// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------

// body:has(.hero) {
//   .content-wrapper {
//     --content-wrapper--margin-top: 0;
//   }
// }

body.search-results {

  .content-wrapper {
    // margin-top: 0 !important;
  }
}

.content-wrapper {
  // --content-wrapper--margin-top: 54px;

  // @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
  //   --content-wrapper--margin-top: 184px;
  // }

  // @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  //   --content-wrapper--margin-top: 188px;
  // }

  // margin-top: var(--content-wrapper--margin-top);
}

.block-title {
  font-family: 'FT System Grotesk';
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 13px;
  margin-bottom: 19px;
  letter-spacing: 0;
  border-bottom: 1px solid;
  font-weight: 400;

  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 9px;
    margin-bottom: 30px;
  }
}

.text-black-50 {
  color: inherit !important;
  opacity: 0.5;
}

.ajax-results-js {
  position: relative;
  overflow: hidden;
  min-height: 100px;
}

.loader-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, .97);
  z-index: 10;
  text-align: center;
  padding-top: 30px;
  transition: .2s;
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-bottom-color: #333;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.ajax-loading {
  .loader-wrap {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

figure {
  .media-item--video {
    display: block;
    max-width: 100%;
  }

  .toggler {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 14px;
      line-height: 20px;
      padding: 16px 21px;
    }
  }


  .video-toggle {
    text-align: left;

    &--overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 20px 23px;

      .toggler {
        background: rgba(#F2F2F2, 0.2) !important;

        &:hover {
          background-color: $black !important;
        }
      }
    }
  }

  &:has(video) {

    .media-item_holder {
      position: relative;
    }
  }
}

.media-item {
  --media-item--vertical-position: center;
  --media-item--horizontal-position: center;

  &[class*=top-] {
    --media-item--vertical-position: top;
  }

  &[class*=bottom-] {
    --media-item--vertical-position: bottom;
  }

  &.bottom,
  &.center,
  &.top {
    &-left {
      --media-item--horizontal-position: left;
    }

    &-right {
      --media-item--horizontal-position: right;
    }
  }

  // &--fit {
  //   &--cover {
  //     --media-item--fit: cover;
  //   }
  //   &--contain {
  //     --media-item--fit: contain;
  //   }
  // }

  object-position: var(--media-item--vertical-position) var(--media-item--horizontal-position);
  background-position: var(--media-item--vertical-position) var(--media-item--horizontal-position);

  // object-fit: var(--media-item--fit);
  // background-size: var(--media-item--fit);

  background-repeat: no-repeat;

  &_overlay-title {
    font-family: 'FT System Grotesk';
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      color: $white;
      margin-bottom: 40px;
      font-size: 40px;
      line-height: 48px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      max-width: 60%;
    }

    [class*="col-md-"] & {
      font-family: 'FT System Grotesk';
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 13px;
      margin-bottom: 19px;
      letter-spacing: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 9px;
        margin-bottom: 30px;
      }
    }
  }
}
