.search-menu {
  position: absolute;
  top: 11px;
  right: 24px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    position: relative;
    margin-left: 3px;
    top: auto;
    right: auto;
  }

  .search-opener {
    transition: .2s;
    opacity: 1;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 0;
      width: 38px;
      height: 38px;
    }

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  .header-search-close {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: scale(0);
  }
}

.header-search-form {
  height: 66px;
}

.search-modal {
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  height: calc(100vh - 53px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .1s, visibility .1s;
  will-change: opacity, visibility;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    top: 180px;
    height: calc(100vh - 180px);
  }

  &[data-state="empty"] {
    .header-search-result-js,
    .clear-header-search-js {
      display: none;
    }
  }

  &[data-state="not-empty"] {
    .featured-searches {
      display: none;
    }
  }

  &.ajax-loading {
    .header-search-result-js,
    .featured-searches {
      opacity: 0;
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }
}

.show-header-search {
  body {
    overflow: hidden;
    position: relative;
  }

  .search-opener {
    transform: scale(0);
    opacity: 0;
  }

  .header-search-close {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  .search-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity .3s, visibility .3s;
  }

  #navbarSupportedContent {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      transition: .2s;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-10px);
    }
  }
}

.search-info-wrap {
  min-height: 82px;
  max-height: calc(100vh - 120px);
  margin-right: -20px;
  position: relative;
  overflow-x: hidden;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    max-height: calc(100vh - 246px);
  }

  .loader-wrap {
    background: transparent;
  }

  .search-info {
    position: relative;
    overflow: hidden;
    padding-right: 20px;
  }
}

.header-search-result-js {
  .loader-wrap {
    display: none;
  }
}
