<div class="filters-wrap">

  {# Filter by Appointment Type #}
  {% embed '@partial/filter-radio-checkbox.twig' with {
    title: 'Filter by appointment type',
    name: 'appointment',
    type: 'radio',
    options: appointment_terms,
    selected: request.get.appointment|default([]),
    add_all: true,
    all_label: 'View All',
    default_option: 'all',
    default_all: true,
  } %}
  {% endembed %}

  <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" data-bs-target="#filtersPeopleCollapse" aria-expanded="false" aria-controls="filtersPeopleCollapse">
    <span class="open-text">
      Sort and filter
      <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.6665 6.10352e-05V9.66673" stroke="currentColor"/>
        <circle cx="1.66667" cy="7.00007" r="1.66667" fill="currentColor"/>
        <path d="M6.3335 9.66666L6.3335 -8.73208e-06" stroke="currentColor"/>
        <circle cx="6.33333" cy="2.66665" r="1.66667" transform="rotate(-180 6.33333 2.66665)" fill="currentColor"/>
      </svg>
    </span>
    <span class="close-text">
      Close
      <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.530273 7.36569L7.36564 0.530328" stroke="currentColor" stroke-width="1.5"/>
        <path d="M7.36572 7.36581L0.530358 0.53045" stroke="currentColor" stroke-width="1.5"/>
      </svg>
    </span>
  </button>

  <div class="collapse collapse-holder" id="filtersPeopleCollapse">
    <button type="button" class="btn btn-outline-primary">View results</button>
    <button type="button" class="btn btn-outline-primary reset-js" disabled>Reset</button>
    <div class="filters-blocks">
      {# Filter by Research Area #}
      {% embed '@partial/filter-radio-checkbox.twig' with {
        title: 'Filter by research area',
        name: 'research_area',
        type: 'checkbox',
        options: research_terms,
        selected: request.get.research_area|default([]),
        add_all: true,
        create_labels: true
      } %}
      {% endembed %}

      {# Sort Options #}
      {% embed '@partial/filter-radio-checkbox.twig' with {
        title: 'Sort',
        name: 'sort',
        type: 'radio',
        options: sort_options,
        selected: request.get.sort|default(['newest']),
        default_option: 'newest',
        create_labels: true,
      } %}
      {% endembed %}

    </div>
    <div class="selected-filters-wrap">
      <div class="selected-fitlers selected-filters-js"></div>
      <button type="button" class="btn btn-outline-primary reset-js" disabled>Clear All</button>
    </div>
  </div>

</div>
