.block-wrapper.block_people-archive {
  // Add your custom styles here
  overflow: hidden;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    border: 7px solid $white;
  }

  .people-wrap-heading {
    padding: 36px 0 14px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 87px 0 2px;
    }
  }

  .archive-text {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 44px;
    }
  }

  .filters {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      white-space: normal;
      flex-wrap: wrap;
      overflow: visible;
    }

    label {
      margin-right: 18px;
      position: relative;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
      cursor: pointer;
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        margin-right: 30px;
        font-size: 18px;
        line-height: 24px;
      }

      &.filter-all {
        order: -2;
      }

      &.filter-leadership {
        order: -1;
      }

      input[type="radio"] {
        position: absolute;
        left: -99999px;
        visibility: hidden;

        &:checked + span {
          border-top-color: $bright-red;
        }
      }

      span {
        border-top: 1px solid #BCAC9B;
        padding-top: 6px;
        display: block;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-top: 10px;
        }

        &:hover {
          border-top-color: $black;
        }
      }
    }
  }

  .block_people-archive {

    .filter-title {
      display: none;
    }
  }

  .filters-wrap {
    position: relative;
    margin-bottom: 48px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 51px;
    }
  }

  .btn[data-bs-toggle=collapse] {
    display: none;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      display: inline-block;
      vertical-align: top;
    }
  }

  .filter-block {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      max-width: calc(100% - 244px);
      padding-top: 7px;
    }
  }

  .collapse-holder {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      background-color: $light-text;
      padding: 25px 0;
    }

    .filters-blocks {
      padding: 20px 0;
    }
  }

  .block_page-header {
    .form-holder {
      input[type=text] {
        border-bottom-color: $stanford-red;

        &:focus {
          border-bottom-color: $black;
        }
      }
    }
  }

  .all-posts-wrap {

    .block-title {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 26px;
      }
    }

    .callout-cards {

      .titles {
        margin-bottom: 0;
      }

      h3 {
        margin-bottom: 9px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          font-size: 22px;
          line-height: 1;
        }
      }

      figure {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 22px;
        }
      }

      .media-item_holder {
        padding-bottom: 120%;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-bottom: 117%;
        }
      }
    }
  }

  .pagination-block-alt {
    margin-top: 16px;
    padding-bottom: 19px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      border-top: 1px solid;
      margin-top: 34px;
      padding-top: 36px;
      padding-bottom: 24px;
    }
  }
}

.pagination-block-alt {
  border-top: 1px solid;
  padding-top: 20px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding-top: 15px;
    border-top: 0;
  }
}

.pagination-alt {
  display: flex;
  align-items: center;
  justify-content: center;

  .pages-info {
    font-size: 16px;
    line-height: 22px;
    margin: -8px auto 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin: 0 42px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .disabled {
    .pagination-link {
      background-color: $white;
      color: rgba($black,0.2);

      &:hover {
        background-color: $white;
      }
    }
  }

  .pagination-link {
    background-color: $black;
    color: $white;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      width: 35px;
      height: 35px;
    }

    &:hover {
      background-color: $bright-red;
    }
  }
}

.leadership-section {
  margin-bottom: 21px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    margin-bottom: 24px;
  }

  .block-title {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 21px;
    }
  }

  .callout-item {
    display: block;
    margin-bottom: 39px;

    h3 {
      margin-bottom: 11px;
      font-size: 24px;
      line-height: 28px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 7px;
      }
    }
  }

  figure {
    width: 100%;
    margin-bottom: 21px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 28px;
    }
  }

  .text-holder {
    width: 100%;
  }
}
